<%= form_for(@tipomenu) do |f| %>
  <% if @tipomenu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipomenu.errors.count, "error") %> prohibited this tipomenu from being saved:</h2>

      <ul>
      <% @tipomenu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
