<p id="notice"><%= notice %></p>

<div class="container">
      <div class="row">
          <div class="col-md-12">
              <h4 class="page-head-line">LISTADO DE TIPOS DE MENUS</h4>
          </div>
      </div>
        </br>
    <div class="row">

<div class="col-md-12">
     <div class="panel panel-default">
                        <div class="panel-heading">
                         Tipos de menus
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipomenus.each do |tipomenu| %>
      <tr>
        <td><%= tipomenu.name %></td>
        <td><%= tipomenu.description %></td>
        <td><%= tipomenu.codigo %></td>
        <td><%= link_to 'Editar', edit_tipomenu_path(tipomenu) %></td>
        <td><%= link_to 'Eliminar', tipomenu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'Nuevo Tipo Menu', new_tipomenu_path %>
</div>
</div>
</div>
</br>
